# build directories
# build*/

# datasets and output
datasets/*
!datasets/original/
datasets/original/*
!datasets/original/data_graph/
datasets/original/data_graph/*
!datasets/original/data_graph/dblp.graph
!datasets/original/query_graph/
datasets/original/query_graph/*
!datasets/original/query_graph/dblp/
datasets/original/query_graph/dblp/*
!datasets/original/query_graph/dblp/query_G_24_*.graph

outputs*/
datasets.zip
deposition.json
